*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Roboto,sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}
h1, h6 {
    margin: 0;
}
h6 {
    font-weight: 300;
}
h5 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.2;
}
h4 {
    font-weight: 300;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bg-block {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: '. head .';
    background: -webkit-linear-gradient(45deg,#68d0ff,#453cf5 100%);
}
main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: '. cards .';
    justify-items: center;
    align-items: center;
    grid-area: main;
}
header {
    width: 100%;
    height: 100vh;
    grid-area: head;
    min-height: 600px;
}
nav {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand__link {
    font-size: 1.4rem;
    line-height: inherit;
    white-space: nowrap;
    color: #ffffff;
}
.navbar-icons__link {
    padding-right: 8px;
    padding-left: 8px;
    text-align: left;
    font-size: 1.25rem;
}
.fab {
    color: #ffffff;
}

.view {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 600px;
    display: grid;
    align-items: center;

}

.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-between;
    align-items: center;
}
 .block-info > .block-info__title {
     font-size: 2.5rem;
     font-weight: 700!important;
     margin-bottom: 8px;
 }
.block-img {
   display: grid;
    justify-content: end;
    align-content: center;
}

.block-info {
    color: #fff;
}

.hr-light {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.subtitle {
    font-size: 1.4rem;
    line-height: 27px;
    margin-bottom: 45px;
}
.btn {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: 17px;
    border-radius: 10em;
}
.btn-outline {
    border: 2px solid #fff!important;
    background-color: transparent!important;
    color: #fff!important;
}

.img {
    width: 292px;
}
.block-cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(260px, 2fr));
    grid-area: cards;
    grid-gap: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.first-column {
    grid-area: first;
}
.second-column {
    grid-area: second;
}
.third-column {
    grid-area: third;
}
.card__img {
    width: 100%;
}
.card {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}
.subtext {
    color: #9e9e9e;
    font-size: 	1.0000em;
    line-height: 1.6;

}
.position {
    text-align: center;
    margin: 10px 16px;
}


.data {
    padding-left: 1em;
    color: #9e9e9e;
}

.content {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: '. box .';
}

.about {
    min-height: 200px;
    background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg");
    background-size: cover;
    background-position: center;
}
.mask {
    background: linear-gradient(40deg,rgba(116,184,255,.8),rgba(87,79,240,.8));
    height: 100%;
}
.boxes {
    grid-area: box;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;

}

.answers {
    margin-top: 3rem;
}
.answers__title {
   padding:  10px 0;
   font-size: 1.25rem;
}
.box__heading, .answers > .answers__title, .answers__text {
    text-align: center;
}
.answers__text {
    margin-top: 0;
    font-size: .9rem;
    line-height: 1.8;
    margin-bottom: 3rem;
}
.details {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: '. about .';
}
.block-about {
    display: grid;
    grid-area: about;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}
.article {
    margin: 3rem 0 3rem 0;
}
.image-hack {
    margin-top: 3rem;
    max-width: 100%;
    height: 460px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.block-about__subheading {
    color: #4f4f4f!important;
    line-height: 1.2;
}

.grey-text {
    color: #9e9e9e!important;
    line-height: 1.8rem;
    font-size: 1rem;
}
.btn-blue {
    background-color: #1976d2!important;
    color: #fff;
}
.pos-bottom {
    margin-bottom: 3rem;
}
.block-image {
    display: grid;
    align-items: center;
}

.bg-color {
    background-color:rgb(2, 136, 209);
    height: 72px;
}
footer {
    margin-top: 3rem;
}
@media(max-width: 1300px) {
    .hero {
        margin-top: 2.5rem;
    }

    .block-info__title {
        font-size: 2rem;
    }
    .block-img {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .img {
        width: 180px;
    }
    .block-info__title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 1.1rem;
        line-height: 25px;
        margin-bottom: 45px;
    }
    .img {
        padding-left: 20px;
    }

    .btn-item {
        position: relative;
        margin: 0 auto;
    }
}

@media(max-width:1100px) {

    .block-about {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .block-info {
        text-align: center;
    }
    .block-image {
        justify-content: center;
    }
}

@media(max-width:700px) {
    .block-info__title {
        font-size: 1.6rem;
        text-align: center;
    }

}