{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/0d32c2a2d9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>HACKATHON</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        $(function() {
                $('a[data-target^="anchor"]').bind('click.smoothscoll', function() {
                    var target = $(this).attr('href'),
                        bl_top = $(target).offset().top;
                    $('body, html').animate({scrollTop: bl_top}, 700);
            })
            });

    </script>
</head>
<body>
<div class="container">
        <div class="bg-block">
            <header>
                <nav class="navbar">
                        <div class="navbar-brand">
                            <a href="" class="navbar-brand__link"><strong>HACKATHON</strong></a>
                        </div>
                        <div class="navbar-icons">
                            <a href="" class="navbar-icons__link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="" class="navbar-icons__link">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="" class="navbar-icons__link">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                </nav>
                <section class="view">
                    <div class="hero">
                        <div class="block-info">
                            <h1 class="block-info__title">ХАКАТОН «ПАРЛАМЕНТ СПРИНТ»</h1>
                            <hr class="hr-light">
                            <h6 class="subtitle">Друзья, у нас классная новость! В рамках проекта «Жаштар үчүн ачык Парламент – Парламент,
                                открытый для молодежи» финансируемого Правительством Швейцарии и Программой развития
                                Организации Объединенных Наций Институт развития Молодежи  начинает прием заявок на участие в 2-Х
                                ДНЕВНОМ ХАКАТОНЕ «ПАРЛАМЕНТ СПРИНТ» по разработке игр для школьников по парламентаризму! </h6>
                                <a id="link" href="#yak1" class="btn btn-outline" data-target="anchor">Подробнее..</a>
                        </div>
                        <div class="block-img">
                            <img class="img" src="{% static 'images/hackathon-icon.png' %}" alt="hackaton">
                        </div>
                    </div>
                </section>
            </header>
        </div>
        <main>
            <div class="block-cards">
                {% for post in posts %}
                    <div class="card hoverable">
                        <img class="card__img" src="{{ post.image.url }}" alt="hackathon">
                        <h5>{{ post.title }}</h5>
                        <p class="subtext position">{{ post.summary }}</p>
                        <p class="data">{{ post.date }}</p>
                    </div>
                {% endfor %}
            </div>
        </main>
        <div id="yak1" class="about">
            <div class="mask">
                <div class="content">
                    <div class="boxes">
                        <div class="answers">
                            <h5 class="answers__title">ЧТО ТАКОЕ ХАКАТОН «ПАРЛАМЕНТ СПРИНТ»? </h5>
                            <p class="answers__text">Это творческая технологическая мастерская, на которой команды в режиме двухдневного
                                спринта будут работать над созданием
                                обучающих программ, игр и приложений.</p>
                        </div>
                        <div class="answers">
                            <h5 class="answers__title">КТО МОЖЕТ ПОДАТЬ ЗАЯВКУ? </h5>
                            <p class="answers__text"> IT-разработчики, дизайнеры, активисты, продвигающие участие молодежи в
                                гражданском обществе, эксперты по парламенттаризму или преподаватель по гражданскому образованию.</p>
                        </div>
                        <div class="answers">
                            <h5 class="answers__title"> ГДЕ И КОГДА БУДЕТ ПРОХОДИТЬ ХАКАТОН? </h5>
                            <p class="answers__text">Хакатон состоится 28-29-марта в Парке Высоких Технологий. Из отобранных членами комиссии участников сформируются группы.
                                </p>
                        </div>
                        <div class="answers">
                            <h5 class="answers__title">КАКОЙ ПРИЗОВОЙ ФОНД?</h5>
                            <p class="answers__text">Призовой фонд составляет 300 000 сомов. По результатам Хакатона будет определено 2 или 3 лучших прототипа, которые будут профинансированы для доработки.

                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="details">
                <div class="block-about">
                    <div class="article">
                        <h2 class="block-about">ХАКАТОН «ПАРЛАМЕНТ СПРИНТ» </h2>

                        <p class="subtext pos-bottom"> <strong>О Хакатоне: </strong>Парламент Спринт – это творческая технологическая мастерская, на которой разработчики (IT-специалисты), дизайнеры и эксперты, тренера,
                            педагоги в сфере гражданского образования и парламентаризма в режиме двухдневного спринта будут работать над созданием обучающих программ, игр и приложений.
                            Целью совместной работы станет создание прототипов обучающих сервисов по парламентаризму.
                            Идея Спринта – развитие гражданских компетенций через создание образовательных IT сервисов для молодежи, благодаря которым они смогут:
                            ПОНЯТЬ КАК РАБОТАЕТ ПАРЛАМЕНТ? ДЛЯ ЧЕГО ЭТОТ ИНСТИТУТ НУЖЕН? И ПОЧЕМУ ОН ВАЖЕН!<br>
                            <strong>Почему стоить принять участие?  </strong> Это мастерская станет открытой площадкой для педагогов из школ, тренеров,
                            представителей НКО, депутатов и сотрудников ЖК, которые знают что такое Парламент, но не всегда могут это донести до молодежи и
                            для IT-специалистов, которые умеют это упаковать через современные технологии, близкие и доступные молодым людям.
                            <br>
                            <strong>Цель мероприятия</strong> – создать рабочие прототипы обучающих приложений, которые можно с небольшими доработками запустить в короткие сроки после окончания спринта.
                        </p>
                        <a class="btn btn-blue" href=""> Подать заявку </a>
                    </div>
                    <div class="block-image">
                        <img class="image-hack" class="block-image__img" src="{% static 'images/web_gdg_2.png' %}" alt="">
                    </div>
                </div>
        </div>
    <footer>
        <div class="bg-color">
        </div>
    </footer>
</div>

</body>
</html>